<div class="con">
  <div class="page-header text-center">
    <h1 class="page-title display-1">H3</h1>
    <p class="page-subtitle">Help.Health.Happy</p>
  </div>
  <div class="animated-title">
   
        <!-- Superscript 3 positioned to the upper right of H -->
  </div>

       
        
  
  <button class="btn get-started-button" (click)="togglePopup()">
    <span class="button-content">
      <i class="fas fa-power-off me-2"></i>
      Get Started
    </span>
  </button>
  
  <div *ngIf="showPopup" class="popup">
    <div class="popup-header">
      <h2>Welcome to Your Wellness Journey</h2>
      <p class="support-text">We are with you!!</p>
    </div>
    <button class="popup-button" (click)="navigateToLogin()">
      <i class="fas fa-sign-in-alt me-2"></i>Login
    </button>
    <button class="popup-button" (click)="navigateToSignup()">
      <i class="fas fa-user-plus me-2"></i>Sign Up
    </button>
    <button class="close-button" (click)="togglePopup()">
      <i class="fas fa-times me-1"></i>Close
    </button>
  </div>
</div>