<div class="con">
    <div class="page-header text-center">
      <h1 class="page-title">Sign In</h1>
      <p class="page-subtitle">Welcome Back</p>
    </div>
    
    <div class="form-container">
      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
        <div class="form-group">
          <input type="email" id="signin-email" formControlName="email" placeholder="Email Address" required>
        </div>
        
        <div class="form-group">
          <input type="password" id="signin-password" formControlName="password" placeholder="Password" required>
        </div>
        <div class="button-wrapper">
        <button type="submit" class="get-started-button">
          <span class="button-content">Sign In</span>
        </button>
        </div>
        <p class="support-text">
          Don't have an account? 
          <a routerLink="/signup" class="subtitle">Create Account</a>
        </p>
      </form>
    </div>
  </div>
  