<app-navbar></app-navbar>
<div class="con">
  <div class="page-header text-center">
    <h1 class="page-title display-1">About Us</h1>
    <p class="page-subtitle">Your Companion in Safety and Wellness</p>
  </div>

  <div class="about-us-container">
    <div class="section">
      <section class="vision-section">
        <h2>Our Vision</h2>
        <p>To create a world where everyone feels safe and supported in their daily lives and mental well-being, regardless of their environment.</p>
      </section>
      <img src="" alt="Vision Image" class="vision-image accent">
    </div>

    <div class="section">
      <img src="" alt="Mission Image" class="mission-image accent">
      <section class="mission-section">
        <h2>Our Mission</h2>
        <p>We strive to provide comprehensive services that prioritize both personal safety and mental wellness:</p>
        <ul>
          <li><strong>Safety Services:</strong> Live location tracking for immediate safety monitoring, emergency alerting to contacts, and incident reporting to mark dangerous areas on the map.</li>
          <li><strong>Wellness Services:</strong> Mental health articles tailored to various emotional states, direct access to support helplines, and a comprehensive wellness assessment tool.</li>
          <li>Empower users to respond effectively in emergencies and cultivate resilience through supportive resources.</li>
        </ul>
      </section>
    </div>

    <section class="contact-section">
      <h2>Contact Us</h2>
      <p>If you have any questions or need assistance, we’re here to help!</p>
      <div class="contact-info">
        <p><strong>Email:</strong> support h3.com</p>
        <p><strong>Phone:</strong> +1 123 456 7890</p>
        <p><strong>Address:</strong> 123 Wellness Street, Safe City, SC 12345</p>
      </div>
    </section>
  </div>
</div>
